APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:q6cEdXGaexSbNbSLhjcVbrkTWqZsQb6DkTpu2HR8AI8=
APP_DEBUG=false
APP_URL=mvp-tamtem

TAMTEM_AGENTS_URL=tamtem-agent                                          # путь до сервера агентов
TAMTEM_AGENTS_AGENT_ID_FROM_INN=tamtem-agent/api/v1/agentidfrominn      # путь к API сервера агентов для получения id агента по inn организации

IP_WHITE_LIST=127.0.0.1,128.0.0.1

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mvp-tamtem
DB_USERNAME=tamtem
DB_PASSWORD=

BROADCAST_DRIVER=redis
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mail.acstech.ru
MAIL_PORT=25
MAIL_USERNAME=noreply@acstech.ru
MAIL_PASSWORD=kraR4RwHFF8Ihrmofkii
MAIL_ENCRYPTION=NULL

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
