### Laravel ###
vendor/
node_modules/
npm-debug.log

public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
docker-compose.yml
.docker

public/landing
public/blades
public/css
public/js
public/uploads
public/offer
public/images
public/img
public/*.pdf
public/*.webmanifest
public/*.png
public/*.svg
public/*.xml
public/mix-manifest.json
.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
.vagrant
public/js/client.js
public/js/admin.js
*.code-workspace
public/files/agreement.doc
laravel-echo-server.json
laravel-echo-server.lock